<p id="notice"><%= notice %></p>

<p>
  <strong>Original url:</strong>
  <%= @shorten_url %>
</p>

<p>
  <strong>Short url:</strong>
  <%= @short_url %>
</p>

<%= link_to 'Back', shorten_urls_path %>
